@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .list-style{
    @apply text-white font-[18px] hover:border-b-4 mt-1 border-b-red-600;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("./assets/images/bg.png");
  background-size: cover;
  background-color: black;
  color: white;
  height: 120vh !important;

}

.container { 
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

li {
  color: white;
  font-size: 18px;
}
a:active {
  border-bottom: 2px solid red ;
}